{{#partial "styles"}}
    <link rel='stylesheet' href='/css/app.css'>
{{/partial}}

{{#partial "content"}}

    <div class="page-header">

        <h1> Fauna Tracker
         </h1>
        <h2> Fauna Tracker is  committed to saving all the endangered species there are.
        <br> Help me track down and record these type of animals and all other.</h2>

    </div>
    <div class="container">
    <p>-Save all Save the world.-</p></div>
    <div class="button-all"><p>This is an application that allows Rangers to track wildlife sightings in the wild. Get started!</p><br><br>
        
          <button type="submit" class="btn btn-outline-dark block"><a href="/sightings">All Sightings</a></button>
        
                <br><br><br><br><br>
          <button type="submit" class="btn btn-outline-dark block"><a href="/animals">All Animals</a></button>

          <br><br><br><br><br>
          <button type="submit" class="btn btn-outline-dark block"><a href="/species">All Species</a></button>
    
      </div>

    </div>

{{/partial}}
{{>layout.hbs}}